@media (prefers-color-scheme: dark) {


    .build {
        color: cornflowerblue;
    }
    
    .command {
        color: forestgreen;
    }
    
    .error {
        color: firebrick;
    }
    
    .simple {
        color: LightGrey;
    }

}

.build {
    color: blue;
}

.command {
    color: green;
}

.error {
    color: red;
}

.simple {
    color: black;
}

.log {
    white-space: pre-wrap;
    font-family: monospace;
    word-wrap: break-word;
    display: block;
}
